///////////////////////
// MASTER STYLESHEET //
///////////////////////

// Font Imports

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

// Global Styles

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
}

a.undecorated-link:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 300;
}

// Correcting Boostraps Bullshit

.container {
  height: 100%;
  height: 100vh;
  padding: 0;
}

.content {
  height: 100%;
  // margin-top: 50px;
  // height: calc(100% - 50px);
}

.row {
  margin: 0;
  height: 100%;
}

.col-xs-12 {
  padding: 0;
}

// Navbar Styles

.navbar {
}

.navbar-header {
  background-color: white;
}
.navbar-fixed-top{
  transition: 1s;
  display: none;
}

.navbar-inverse {
  .navbar-brand {
    color: #1D7A9E;
    margin-left: 2px;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-shadow: none;
    font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
    &:active, &:hover {
      // color: black;
    }
  }
  .navbar-toggle {
    border-radius: 0px;
    border-color: #CCC;
    .icon-bar {
      background-color: black;
    }
    &:active, &:hover {
      background-color: white;
      border-color: #888;
      .icon-bar {
        // background-color: #CCC;
      } 
    }
    &:focus {
      background-color: white;
      border-color: #888;   
    }
  }  
}

// Content Styles

#ui-view {
  height: 100%;
}

// Load Screen

#loadScreen {
  position:absolute;
  transition: 1.5s;
  opacity: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.5em;
  background-color: #58c9f3;
  color: rgba(255,255,255,0.6);
  font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
  font-weight: 300;
  padding: 15px;
  height: 100%;
  width: 100%;
  .load-text{
    text-align: center;
    font-size: 3.5em;
    color: white;
    padding-top: 55%;
    // opacity: 0.7;
  }
  .load-spinner {
    i {
      font-size: 1.5em;
      margin: 0;
      color: white;
      // margin-top: -40px;
    }
  }
  &.load-fade{
    opacity: 1;
    // display: block;
  }
}

// Show Tile View

#showTile {
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  max-width: 680px;
  max-height: 960px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // Styles for all tiles
  .tileTemplate {
    width: 100%;
    height: 100%;
    margin: 0px;
    float: left;
    position: absolute;
    overflow: hidden;
    // bottom: 0px;
    // background-color: black;
    h2 {
      position:absolute;
      margin: 4px 0;
      top: 0px;
      left: 10px;
      height: 50px;
      font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
      color: rgba(255,255,255,0.8);
      text-align: left;
      font-size: 1.5em;
      font-weight: 300;
      padding-top: 2px;
    }
    img {
      width: 100%;
      // height: 213px;
    }
    .tile-info {
      padding: 15px 12px;
      overflow: hidden;
      color: #333;
      h1 {
        margin: 0;
        margin-top: 5px;
        font-size: 1.6em;
      }
      h5 {
        font-size: 1em;
      }
      .tile-desc {
        margin-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        max-height: 200px; 
        position: relative;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
      }
    }
    .tile-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: black;
      box-shadow: 0 8px 43px 46px rgb(255, 255, 255);
      i {
        float: left;
        color: white;
        line-height: 50px;
        margin-top: 1px;
        padding: 0 20px;
        font-size: 1.5em;
        display: inline-block;
        &:hover, &:active {
          color: tomato !important;
        }
        &.liked {
          color: tomato;
        }
      }
      span {
        position: absolute;
        font-size: 0.8em;
        bottom: 11px;
        margin-left: 38px;
        color: white;
        display: block;
      }
      h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -60px;
        color: white;
        display: inline-block;
      }
      h4 {
        position: absolute;
        color: white;
        right: 17px;
        // right: 10px;
        bottom: 3px;
        // bottom: 320px;
        font-size: 1.6em;
        display: block;
        font-weight: 300;
      }
    }
  }

  .colorOffset {
    background-color: black;
    .tile-info {
      color: white;
    }
    .tile-footer {
      background-color: white;
      box-shadow: 0 8px 43px 46px rgb(0, 0, 0);
      i {
        color: black;
        &:hover, &:active {
          color: tomato !important;
        }
        &.liked {
          color: tomato;
        }
      }
      span {
        color: black;
      }
      h3 {
        color: black;
      }
      h4 {
        color: black;
      }
    }
  }

  .prizeTile {
    // border: 10px solid skyblue;
    .tile-footer {
      background: -webkit-linear-gradient(top, 
                rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, 
                rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, 
                rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
      h3 {
        visibility: hidden;
      }
      h3:after {
        visibility: visible;
        content: "YOU WIN!!";
        margin-left: -130px;
        color: white;
      }
    }
  }

  // Styles for individual tiles
  #tileMain {
    left: 0;
    bottom: 0px;
    margin: 0px;
    &.hide {
      opacity: 0;
    }
    &.fader {
      opacity: 1;
    }
    &.nav-open {
      // transition: 0.25s;
      opacity: 0.3;
      -webkit-filter: blur(5px); 
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      -o-filter: blur(5px);
      filter: blur(5px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    }
    &.nav-close {
      // transition: 0.25s;
      opacity: 1;
      // height: 100%;
      // width: 100%;
      // padding: 0px;
      .tile-info{
        transition: 0.25s;
        // font-size: 1em;
        // padding-top: 15px;
      }
    }
  }

  #tileLeft.center-tile, #tileRight.center-tile, #tileUp.center-tile, #tileDown.center-tile {
    left: 0%;
    bottom: 0%;
  }

  #tileUp {
    bottom: 108%;
    left: 0px;
    color: white;
  }

  #tileDown {
    bottom: -108%;
    left: 0px;
    color: white;
  }

  #tileRight {
    color: white;
    left: 108%;
  }

  #tileLeft {
    color: white;
    left: -108%;
  }

  #heart-like{
    display: none;
    position:fixed;
    height: 100%;
    width: 100%;
    padding: 20px;
    top: -39px;
    color: rgba(255,99,71,0.6);
    font-size: 13em;
  }

  #prize-win{
    display: none;
    position:fixed;
    height: 100%;
    width: 100%;
    padding: 20px;
    top: -39px;
    color: #58c9f3;
    // background: -webkit-linear-gradient(top, 
              // rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, 
              // rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, 
              // rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    font-size: 13em;
  }

  #navigation-instructions {
    display: none;
    opacity: 0;
    transition: 0.9s;
    position: fixed;
    z-index: 10;
    height: 100%;
    // height: calc(100% - 50px);
    width: 100%;
    color: white;
    font-size: 3em;
    padding: 20px;
    word-wrap: break-word;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    &.open{
      display: block;
      opacity: 1;
    }
    .center-vertical {
      padding-top: 47%;
    }
    #nav-header{
      position:absolute;
      top: 0px;
      height: 50px;
      font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
      color: rgba(255,255,255,0.8);
      text-align: left;
      font-size: 0.7em;
      font-weight: 300;
      padding-top: 2px;
      .list-button{
        position: fixed;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 40px;
        background: none;
        // border: 1px solid rgba(255,255,255,0.8);
        border: none;
        background-image: url(../img/brand/list2.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    #navi-content {
      margin-top: 30px;
      position: absolute;
      z-index: 10;
      height: 83%;
      top: 33px;
      left: 8%;
      width: 83%;
      #welcome-screen {
        // position: relative;
        // display: table;
        // div {
          // position: relative;
          // display: table-cell;
          // vertical-align: middle;
          img {
            width: 50px;
            -webkit-filter:  #{'invert(100%)'};
            filter: #{'invert(100%)'};
          }
          h2 {
            font-size: 0.4em;
            margin-top: 0;
            margin-bottom: 15%;
          }
          h1 {
            opacity: 0.5;
            font-size: 0.8em;
            font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
            font-weight: 300;
            span {
              font-size: 1.2em;
            }
          }
        // }
      }
      // h3 {
      //   font-size: 0.4em;
      // }
      #navi-text {
        margin-top: 7%;
        width: 100%;
        height: 100%;
        // display: table;
        position: absolute;
        h1 {
          color: white;
          opacity: 0.8;
          display: table-cell;
          // vertical-align: middle;
          font-size: 0.6em;
          letter-spacing: 4px;
          font-weight: 300;
          font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
          span {
            margin-top: 100px;
            font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
            font-size: 1.2em;
            margin-top: 5px;
          }
        }
        p{
          font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
          font-size: 0.5em;
        }
      }
      #radar{
        position:relative;
        width:160px;
        height:160px;
        // background:#222 url(http://i.stack.imgur.com/vY6Tl.png);
        border-radius:160px;
        border: 1px solid white;
        overflow:hidden;
        margin: 0 auto;
        #rad{
          position:absolute;
          width:160px;
          height:160px; background:url(../img/brand/fbgUD.png);
          background-size: 160px 160px;
        }
        .centerDot{
          background: white;
          position:absolute;
          border-radius: 8px;
          width:6px;
          height:6px;
          top: 80.5px;
          left: 80.5px;
          margin-top:-3px;
          margin-left:-3px;
          box-shadow:0 0 10px 5px rgba(0,0,0,0.5);
          opacity:1;
        }
        .obj{
          background: white;
          position:absolute;
          width:2px;
          height:2px;
          margin-top:-1px;
          margin-left:-1px;
          box-shadow:0 0 10px 5px rgba(100,255,0,0.5);
          opacity:1;
          &.two-user{
            background: white;
            // border-radius: 10px;
            width:4px;
            height:4px;
            margin-top:-2px;
            margin-left:-2px;

          }
          &.multi-user{
            background: white;
            // border-radius: 10px;
            width:6px;
            height:6px;
            margin-top:-3px;
            margin-left:-3px;

          }
          &.heart{
            background: none;
            box-shadow:none;
            background-image: url(../img/brand/heart.svg);
            height: 10px;
            width: 10px;
            margin-top:-4px;
            margin-left:-4px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
          &.prize{
            background: none;
            box-shadow:none;
            background-image: url(../img/brand/moneybag.svg);
            height: 14px;
            width: 14px;
            margin-top:-8px;
            margin-left:-6px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .kiss {
      position: fixed;
      &.buttons {
        position:absolute;
        bottom: 15px;
        width: 100%;
        button {
          &.share {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.5em;
            margin-bottom: 20px;
            a {
              color: white;
              &:active, &:hover {
                color: black;
                text-decoration: none;
              }
            }
          }
          margin:0 auto;
          border-radius: 0;
          background-color: rgba(0,0,0,0);
          opacity: 0.7;
          outline: 1px solid white;
          font-size: 0.6em;
          &:hover, &:active {
            // background-color: #333;
            // color: white;
          }
        }
        #share-link {
          font-size: 0.34em;
          -webkit-touch-callout: text;
          -webkit-user-select: text;
          -khtml-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
        }
      }
      &.top {
        position: absolute;
        color: tomato;
        top: 0px;
        left: 45%;
      }
      &.left {
        color: tomato;
        top: 45%;
        left: 10px;
      }
      &.right {
        top: 45%;
        color: tomato;
        right: 10px;
      }
      &.bottom {
        position: absolute;
        color: tomato;
        bottom: 10px;
        left: 45%;
      }
    }
  }

  .show {
    opacity: 1;
    z-index: 100;
  }

  .slow {
    transition: 0.2s;
    // -webkit-transition-timing-function: ease-in-out;
    // -moz-transition-timing-function: ease-in-out;
    // -o-transition-timing-function: ease-in-out;
    // transition-timing-function: ease-in-out;
  }

}

// Styles for sign in screen

.signin{
  background-color: #58c9f3;
  height: auto;
  a{
    color: white;
    
  }
  .social-links{
    background-color:white;
  }
  img{
    height: 80px;
    width: 80px;

  }
  input{
    border-radius: 0px;
    box-shadow: none;
    border: none;
  }
  button{
    background-color: white;
    color: #58c9f3;
    border-radius: 0px;
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
  .brand{
    margin-top: 19px;
    text-align: center;
    font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
    font-size: 3em;
    color: white;
  }
  h3{
    color: white;
    // margin-top: 12px;
    // margin-bottom: 4px;
  }
}

///styles for favorite list page

#favorites{

  .page-header{
    font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
    margin: 0px;
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 94px;
    width: 100% !important;
    .control{
      background-color: black;
      height: 30px;
      .brand{
        font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
        padding-left: 10px;
        color: rgba(255,255,255,0.8);
        font-size: 1.5em;
      }
      a{
      font-size: 1.4em;
      padding-right: 10px;
      color: white;
      text-align: right;
    }
    }
    h1{
      margin-top: 10px;
      padding-left: 5px;
      text-align: center;
    }
    
  }

  .list-group{
    padding-top: 94px;
    .list-group-item{
      border-radius: 0px;
      border: none;
      color: black;
      .thumb-image{
        height: 62px;
        width: 44px;
        margin-right: 10px;
        margin-left: 10px;
        float: left;
        background-size: auto 44px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .list-group-item-heading{
        padding-top: 5px;
      }
      .list-group-item-text{
        padding-bottom: 5px;
      }
      .likes{
        position: absolute;
        font-size: 0.8em;
        bottom: 2px;
        margin-left: 16px;
        display: block;
      }
      
      &.dark{
          background-color: black;
          color: white;
          p{
            color: white;
          }
        }
      
    }
  }
}

