///////////////////////
// MASTER STYLESHEET //
///////////////////////

// Font Imports

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

// Global Styles

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
}

a.undecorated-link:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 300;
}

// Correcting Boostraps Bullshit

.container {
  height: 100%;
  height: 100vh;
  padding: 0;
}

.content {
  margin-top: 50px;
  height: 90%;
  height: calc(100% - 50px);
}

.row {
  margin: 0;
  height: 100%;
}

.col-xs-12 {
  padding: 0;
}

// Navbar Styles

.navbar {
}

.navbar-header {
  background-color: white;
}

.navbar-inverse {
  .navbar-brand {
    color: #1D7A9E;
    margin-left: 2px;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-shadow: none;
    font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
    &:active, &:hover {
      // color: black;
    }
  }
  .navbar-toggle {
    border-radius: 0px;
    border-color: #CCC;
    .icon-bar {
      background-color: black;
    }
    &:active, &:hover {
      background-color: white;
      border-color: #888;
      .icon-bar {
        // background-color: #CCC;
      } 
    }
    &:focus {
      background-color: white;
      border-color: #888;   
    }
  }  
}

// Content Styles

#ui-view {
  height: 100%;
}

// Show Tile View

#showTile {
  height: 90%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
  text-align: center;
  max-width: 680px;
  max-height: 960px;
  img {
    width: 100%;
    height: 213px;
  }

  #loadedTiles {
    .tile {
      width: 100%;
      height: 100%;
      float: left;
      bottom: 0px;
      margin: 0px;
      position: absolute;
      background-color: black;
      overflow: hidden;
    }

    .tile-info {
      padding: 15px 12px;
      overflow: hidden; 
      h1 {
        margin: 0;
        margin-top: 5px;
        font-size: 1.6em;
      }
      .tile-desc {
        margin-top: 10px;
        // font-style: italic;
        line-height: 20px;
        max-height: 140px; 
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        position: relative;
        // #white-fade {
        //   position: absolute;
        //   background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.1), rgba(255,255,255,0.6), white);
        //   width: 100%;
        //   height: 100%;
        //   bottom: -20px;
        // }
      }
    }

    #tileMain {
      background-color: white;
      left: 0;
      bottom: 0px;
      margin: 0px;
      #buyMain {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: black;
        &:hover {
          // background-color: white;
          h3 {
            // color: black;
          }
        }
        i {
          float: left;
          color: white;
          line-height: 50px;
          margin-top: 1px;
          padding: 0 20px;
          font-size: 1.5em;
          display: inline-block;
          &:hover, &:active {
            color: tomato !important;
          }
          &.liked {
            color: tomato;
          }
        }
        span {
          position: absolute;
          // display: inline-block;
          font-size: 0.8em;
          bottom: 11px;
          margin-left: 38px;
          color: white;
          display: block;
        }
        h3 {
          font-size: 1.6em;
          letter-spacing: 6px;
          line-height: 50px;
          margin: 0;
          margin-left: -60px;
          color: white;
          display: inline-block;
        }
      }
      &.hide {
        opacity: 0;
      }
      &.fader {
        opacity: 1;
      }
      &.nav-open {
        transition: 0.25s;
        opacity: 0.3;
        -webkit-filter: blur(5px); 
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        filter: blur(5px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
      }
      &.nav-close {
        transition: 0.25s;
        height: 100%;
        width: 100%;
        padding: 0px;
        opacity: 1;
        .tile-info{
          transition: 0.25s;
          font-size: 1em;
          padding-top: 15px;
        }
      }
    }
    #tileLeft.center-tile, #tileRight.center-tile, #tileUp.center-tile, #tileDown.center-tile {
      left: 0%;
      bottom: 0%;
    }
    #tileUp {
      bottom: 108%;
      left: 0px;
      color: white;
      .buyNotMain {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: white;
        i {
          float: left;
          color: black;
          line-height: 50px;
          margin-top: 1px;
          margin-left: 20px;
          font-size: 1.5em;
          display: inline-block;
        }
        span {
          position: absolute;
          // display: inline-block;
          font-size: 0.8em;
          bottom: 11px;
          // left: 100;
          margin-left: 38px;
          color: black;
          display: block;
        }
        h3 {
          font-size: 1.6em;
          letter-spacing: 6px;
          line-height: 50px;
          margin: 0;
          margin-left: -40px;
          color: black;
          display: inline-block;
        }
      }
    }
    #tileDown {
      bottom: -108%;
      left: 0px;
      color: white;
      .buyNotMain {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: white;
        i {
          float: left;
          color: black;
          line-height: 50px;
          margin-top: 1px;
          margin-left: 20px;
          font-size: 1.5em;
          display: inline-block;
        }
        span {
          position: absolute;
          // display: inline-block;
          font-size: 0.8em;
          bottom: 11px;
          // left: 100;
          margin-left: 38px;
          color: black;
          display: block;
        }
        h3 {
          font-size: 1.6em;
          letter-spacing: 6px;
          line-height: 50px;
          margin: 0;
          margin-left: -40px;
          color: black;
          display: inline-block;
        }
      }
          }
    #tileRight {
      color: white;
      left: 108%;
      .buyNotMain {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: white;
        i {
          float: left;
          color: black;
          line-height: 50px;
          margin-top: 1px;
          margin-left: 20px;
          font-size: 1.5em;
          display: inline-block;
        }
        span {
          position: absolute;
          // display: inline-block;
          font-size: 0.8em;
          bottom: 11px;
          // left: 100;
          margin-left: 38px;
          color: black;
          display: block;
        }
        h3 {
          font-size: 1.6em;
          letter-spacing: 6px;
          line-height: 50px;
          margin: 0;
          margin-left: -40px;
          color: black;
          display: inline-block;
        }
      }
    }
    #tileLeft {
      color: white;
      left: -108%;
      .buyNotMain {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: white;
        i {
          float: left;
          color: black;
          line-height: 50px;
          margin-top: 1px;
          margin-left: 20px;
          font-size: 1.5em;
          display: inline-block;
        }
        span {
          position: absolute;
          // display: inline-block;
          font-size: 0.8em;
          bottom: 11px;
          // left: 100;
          margin-left: 38px;
          color: black;
          display: block;
        }
        h3 {
          font-size: 1.6em;
          letter-spacing: 6px;
          line-height: 50px;
          margin: 0;
          margin-left: -40px;
          color: black;
          display: inline-block;
        }
      }
    }
  }

  #navigation-instructions {
    display: none;
    opacity: 0;
    transition: 0.9s;
    position: fixed;
    z-index: 10;
    height: 90%;
    height: calc(100% - 50px);
    width: 100%;
    color: white;
    font-size: 3em;
    padding: 20px;
    word-wrap: break-word;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.4);
    .center-vertical {
      padding-top: 47%;
    }
    #navi-content {
      position: absolute;
      z-index: 10;
      height: 83%;
      top: 33px;
      left: 8%;
      width: 83%;
      h3 {
        font-size: 0.4em;
      }
      #navi-text {
        margin-top: -54px;
        width: 100%;
        height: 100%;
        display: table;
        h1 {
          color: white;
          opacity: 0.8;
          display: table-cell;
          vertical-align: middle;
          font-size: 0.6em;
          letter-spacing: 4px;
          font-weight: 300;
          font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
          span {
            margin-top: 100px;
            font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
            font-size: 3em;
            margin-top: 5px;
          }
        }
      }
    }
    .kiss {
      position: fixed;
      &.buttons {
        position:absolute;
        bottom: 0px;
        width: 100%;
        button {
          &.share {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.5em;
            margin-bottom: 20px;
            a {
              color: white;
              &:active, &:hover {
                color: black;
                text-decoration: none;
              }
            }
          }
          margin:0 auto;
          border-radius: 0;
          background-color: rgba(0,0,0,0);
          opacity: 0.7;
          outline: 1px solid white;
          font-size: 0.6em;
          &:hover, &:active {
            // background-color: #333;
            // color: white;
          }
        }
        #share-link {
          font-size: 0.34em;
        }
      }
      &.top {
        position: absolute;
        color: tomato;
        top: 0px;
        left: 45%;
      }
      &.left {
        color: tomato;
        top: 45%;
        left: 10px;
      }
      &.right {
        top: 45%;
        color: tomato;
        right: 10px;
      }
      &.bottom {
        position: absolute;
        color: tomato;
        bottom: 10px;
        left: 45%;
      }
    }
  }

  .show {
    opacity: 1;
    z-index: 100;
  }

  .slow {
    transition: 0.35s;
    // -webkit-transition-timing-function: ease-in-out;
    // -moz-transition-timing-function: ease-in-out;
    // -o-transition-timing-function: ease-in-out;
    // transition-timing-function: ease-in-out;
  }

  // Prevent user from selecting text
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

}