///////////////////////
// MASTER STYLESHEET //
///////////////////////

// Font Imports

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);

// System-wide Styles

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif;
}

a.undecorated-link:hover {
  text-decoration: none;
}

// Correcting Boostraps Bullshit

.container {
  height: 100%;
  height: 100vh;
  padding: 0;
}

.content {
  margin-top: 50px;
  height: 90%;
  height: calc(100% - 50px);
}

.row {
  margin: 0;
  height: 100%;
}

.col-xs-12 {
  padding: 0;
}

// Navbar Styles

.navbar {
}

.navbar-header {
  background-color: white;
}

.navbar-inverse {
  .navbar-brand {
    color: #1D7A9E;
    font-weight: 300;
    text-shadow: none;
    &:active, &:hover {
      color: black;
    }
  }
  .navbar-toggle {
    border-radius: 0px;
    border-color: #58c9f3;
    .icon-bar {
      background-color: tomato;
    }
    &:active, &:hover {
      background-color: white;
      .icon-bar {
        background-color: black;
      } 
    }
  }  
}

// Content Styles

#ui-view {
  height: 100%;
}

// Show Tile View

#showTile {
  // border: 4px solid #58c9f3;
  //Prevent user from selecting text
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  text-align: center;
  height: 90%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
  h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 1.6em;
  }
  p {
    margin-top: 10px;
  }
  img {
    width: 100%;
  }
  .tile-info {
    padding: 15px 12px;
  }
  .tile{
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0px;
    margin: 0px;
    position: absolute;
  }
  #tileMain{
    background-color: white;
    left: 0;
    bottom: 0px;
    margin: 0px;
    &.nav-open{
      transition: 0.25s;
      height: 99.9%;
      width: 99.9%;
      padding: 10px;
      opacity: 0.3;
      .tile-info{
        transition: 0.25s;
        font-size: 0.8em;
        padding-top: 10px;
      }
    }
    &.nav-close{
      transition: 0.25s;
      height: 100%;
      width: 100%;
      padding: 0px;
      opacity: 1;
      .tile-info{
        transition: 0.25s;
        font-size: 1em;
        padding-top: 15px;
      }
    }
  }
  #tileUp{
    bottom: 108%;
    left: 0px;
  }
  #tileDown{
    bottom: -108%;
    left: 0px;
  }
  #tileRight{
    left: 108%;
  }
  #tileLeft{
    left: -108%;
  }
  #navigation-instructions{
    display: none;
    opacity: 0;
    transition: 0.9s;
    position: fixed;
    z-index: 10;
    height: 90%;
    height: calc(100% - 50px);
    width: 100%;
    color: white;
    font-size: 3em;
    padding: 20px;
    padding-top: 10px;
    .center-vertical{
      padding-top: 47%;
    }
    #navi-content{
      position: absolute;
      z-index: 10;
      height: 83%;
      top: 33px;
      left: 8%;
      width: 83%;
    }

    .kiss{
      position: fixed;
      &.buttons{
        position:absolute;
        bottom: 0px;
        width: 100%;
        button{
          &.left{
            color: gold;
          }
          &.right{
            right: 10px;
          }
          &.red{
            color: red;
          }
          // position: relative;
          margin:0 auto;
          border-radius: 0;
          background-color: rgba(0,0,0,0);
          outline: 2px solid white;
          font-size: 0.6em;
        }
      }
      
      &.top{
        position: absolute;
        top: 0px;
        left: 45%;
      }
      &.left{
        top: 45%;
        left: 10px;
      }
      &.right{
        top: 45%;
        right: 10px;
      }
      &.bottom{
        position: absolute;
        bottom: 10px;
        left: 45%;
      }
    }
    .tutorial-text{
      font-size: 0.75em;
      width: 100%;
      position: relative;
      margin-top: 10px;
    }
  }
//   padding: 0;
//   margin: 0;
//   img {
//     // width: 100%;
//   }
//   .tile-info {
//     // width: 100%;
//     // padding: 20px 0;
//     .tile-title {
//       text-align: center;
//       // margin: 10px 0;
//       font-weight: 700;
//     }
//     .tile-desc {
//       text-align: center;
//       // margin: 0 10px;
//     }
//   }
//   #exploded-view {
//     position: absolute;
//     bottom: 10;
//     margin-top: 100px;
//   }
//   .btn {
//     border-radius: 0;
//     border: none;
//     box-shadow: none;
//     background-image: none;
//     margin: 0;
//   }
}