@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif; }

a.undecorated-link:hover {
  text-decoration: none; }

.container {
  height: 100%;
  height: 100vh;
  padding: 0; }

.content {
  margin-top: 50px;
  height: 90%;
  height: calc(100% - 50px); }

.row {
  margin: 0;
  height: 100%; }

.col-xs-12 {
  padding: 0; }


.navbar-header {
  background-color: white; }

.navbar-inverse .navbar-brand {
  color: #1d7a9e;
  font-weight: 300;
  text-shadow: none; }
  .navbar-inverse .navbar-brand:active, .navbar-inverse .navbar-brand:hover {
    color: black; }
.navbar-inverse .navbar-toggle {
  border-radius: 0px;
  border-color: #58c9f3; }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: tomato; }
  .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:hover {
    background-color: white; }
    .navbar-inverse .navbar-toggle:active .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
      background-color: black; }

#ui-view {
  height: 100%; }

#showTile {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  text-align: center;
  height: 90%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute; }
  #showTile h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 1.6em; }
  #showTile p {
    margin-top: 10px; }
  #showTile img {
    width: 100%; }
  #showTile .tile-info {
    padding: 15px 12px; }
  #showTile .tile {
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0px;
    margin: 0px;
    position: absolute; }
  #showTile #tileMain {
    background-color: white;
    left: 0;
    bottom: 0px;
    margin: 0px; }
    #showTile #tileMain.nav-open {
      transition: 0.25s;
      height: 99.9%;
      width: 99.9%;
      padding: 10px;
      opacity: 0.3; }
      #showTile #tileMain.nav-open .tile-info {
        transition: 0.25s;
        font-size: 0.8em;
        padding-top: 10px; }
    #showTile #tileMain.nav-close {
      transition: 0.25s;
      height: 100%;
      width: 100%;
      padding: 0px;
      opacity: 1; }
      #showTile #tileMain.nav-close .tile-info {
        transition: 0.25s;
        font-size: 1em;
        padding-top: 15px; }
  #showTile #tileUp {
    bottom: 108%;
    left: 0px; }
  #showTile #tileDown {
    bottom: -108%;
    left: 0px; }
  #showTile #tileRight {
    left: 108%; }
  #showTile #tileLeft {
    left: -108%; }
  #showTile #navigation-instructions {
    display: none;
    opacity: 0;
    transition: 0.9s;
    position: fixed;
    z-index: 10;
    height: 90%;
    height: calc(100% - 50px);
    width: 100%;
    color: white;
    font-size: 3em;
    padding: 20px;
    padding-top: 10px; }
    #showTile #navigation-instructions .center-vertical {
      padding-top: 47%; }
    #showTile #navigation-instructions #navi-content {
      position: absolute;
      z-index: 10;
      height: 83%;
      top: 33px;
      left: 8%;
      width: 83%; }
    #showTile #navigation-instructions .kiss {
      position: fixed; }
      #showTile #navigation-instructions .kiss.buttons {
        position: absolute;
        bottom: 0px;
        width: 100%; }
        #showTile #navigation-instructions .kiss.buttons button {
          margin: 0 auto;
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0);
          outline: 2px solid white;
          font-size: 0.6em; }
          #showTile #navigation-instructions .kiss.buttons button.left {
            color: gold; }
          #showTile #navigation-instructions .kiss.buttons button.right {
            right: 10px; }
          #showTile #navigation-instructions .kiss.buttons button.red {
            color: red; }
      #showTile #navigation-instructions .kiss.top {
        position: absolute;
        top: 0px;
        left: 45%; }
      #showTile #navigation-instructions .kiss.left {
        top: 45%;
        left: 10px; }
      #showTile #navigation-instructions .kiss.right {
        top: 45%;
        right: 10px; }
      #showTile #navigation-instructions .kiss.bottom {
        position: absolute;
        bottom: 10px;
        left: 45%; }
    #showTile #navigation-instructions .tutorial-text {
      font-size: 0.75em;
      width: 100%;
      position: relative;
      margin-top: 10px; }
