@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif; }

a.undecorated-link:hover {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: 300; }

.container {
  height: 100%;
  height: 100vh;
  padding: 0; }

.content {
  margin-top: 50px;
  height: 90%;
  height: calc(100% - 50px); }

.row {
  margin: 0;
  height: 100%; }

.col-xs-12 {
  padding: 0; }


.navbar-header {
  background-color: white; }

.navbar-inverse .navbar-brand {
  color: #1d7a9e;
  margin-left: 2px;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-shadow: none;
  font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif; }
.navbar-inverse .navbar-toggle {
  border-radius: 0px;
  border-color: #cccccc; }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: black; }
  .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
    border-color: #888888; }
  .navbar-inverse .navbar-toggle:focus {
    background-color: white;
    border-color: #888888; }

#ui-view {
  height: 100%; }

#showTile {
  height: 90%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
  text-align: center;
  max-width: 680px;
  max-height: 960px; }
  #showTile img {
    width: 100%;
    height: 213px; }
  #showTile #loadedTiles .tile {
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0px;
    margin: 0px;
    position: absolute;
    background-color: black;
    overflow: hidden; }
  #showTile #loadedTiles .tile-info {
    padding: 15px 12px;
    overflow: hidden; }
    #showTile #loadedTiles .tile-info h1 {
      margin: 0;
      margin-top: 5px;
      font-size: 1.6em; }
    #showTile #loadedTiles .tile-info .tile-desc {
      margin-top: 10px;
      line-height: 20px;
      max-height: 140px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      position: relative; }
  #showTile #loadedTiles #tileMain {
    background-color: white;
    left: 0;
    bottom: 0px;
    margin: 0px; }
    #showTile #loadedTiles #tileMain #buyMain {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: black; }
      #showTile #loadedTiles #tileMain #buyMain i {
        float: left;
        color: white;
        line-height: 50px;
        margin-top: 1px;
        padding: 0 20px;
        font-size: 1.5em;
        display: inline-block; }
        #showTile #loadedTiles #tileMain #buyMain i:hover, #showTile #loadedTiles #tileMain #buyMain i:active {
          color: tomato !important; }
        #showTile #loadedTiles #tileMain #buyMain i.liked {
          color: tomato; }
      #showTile #loadedTiles #tileMain #buyMain h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -60px;
        color: white;
        display: inline-block; }
    #showTile #loadedTiles #tileMain.hide {
      opacity: 0; }
    #showTile #loadedTiles #tileMain.fader {
      opacity: 1; }
    #showTile #loadedTiles #tileMain.nav-open {
      transition: 0.25s;
      opacity: 0.3;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      -o-filter: blur(5px);
      filter: blur(5px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); }
    #showTile #loadedTiles #tileMain.nav-close {
      transition: 0.25s;
      height: 100%;
      width: 100%;
      padding: 0px;
      opacity: 1; }
      #showTile #loadedTiles #tileMain.nav-close .tile-info {
        transition: 0.25s;
        font-size: 1em;
        padding-top: 15px; }
  #showTile #loadedTiles #tileLeft.center-tile, #showTile #loadedTiles #tileRight.center-tile, #showTile #loadedTiles #tileUp.center-tile, #showTile #loadedTiles #tileDown.center-tile {
    left: 0%;
    bottom: 0%; }
  #showTile #loadedTiles #tileUp {
    bottom: 108%;
    left: 0px;
    color: white; }
    #showTile #loadedTiles #tileUp .buyNotMain {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: white; }
      #showTile #loadedTiles #tileUp .buyNotMain i {
        float: left;
        color: black;
        line-height: 50px;
        margin-top: 1px;
        margin-left: 20px;
        font-size: 1.5em;
        display: inline-block; }
      #showTile #loadedTiles #tileUp .buyNotMain h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -40px;
        color: black;
        display: inline-block; }
  #showTile #loadedTiles #tileDown {
    bottom: -108%;
    left: 0px;
    color: white; }
    #showTile #loadedTiles #tileDown .buyNotMain {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: white; }
      #showTile #loadedTiles #tileDown .buyNotMain i {
        float: left;
        color: black;
        line-height: 50px;
        margin-top: 1px;
        margin-left: 20px;
        font-size: 1.5em;
        display: inline-block; }
      #showTile #loadedTiles #tileDown .buyNotMain h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -40px;
        color: black;
        display: inline-block; }
  #showTile #loadedTiles #tileRight {
    color: white;
    left: 108%; }
    #showTile #loadedTiles #tileRight .buyNotMain {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: white; }
      #showTile #loadedTiles #tileRight .buyNotMain i {
        float: left;
        color: black;
        line-height: 50px;
        margin-top: 1px;
        margin-left: 20px;
        font-size: 1.5em;
        display: inline-block; }
      #showTile #loadedTiles #tileRight .buyNotMain h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -40px;
        color: black;
        display: inline-block; }
  #showTile #loadedTiles #tileLeft {
    color: white;
    left: -108%; }
    #showTile #loadedTiles #tileLeft .buyNotMain {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: white; }
      #showTile #loadedTiles #tileLeft .buyNotMain i {
        float: left;
        color: black;
        line-height: 50px;
        margin-top: 1px;
        margin-left: 20px;
        font-size: 1.5em;
        display: inline-block; }
      #showTile #loadedTiles #tileLeft .buyNotMain h3 {
        font-size: 1.6em;
        letter-spacing: 6px;
        line-height: 50px;
        margin: 0;
        margin-left: -40px;
        color: black;
        display: inline-block; }
  #showTile #navigation-instructions {
    display: none;
    opacity: 0;
    transition: 0.9s;
    position: fixed;
    z-index: 10;
    height: 90%;
    height: calc(100% - 50px);
    width: 100%;
    color: white;
    font-size: 3em;
    padding: 20px;
    word-wrap: break-word;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.4); }
    #showTile #navigation-instructions .center-vertical {
      padding-top: 47%; }
    #showTile #navigation-instructions #navi-content {
      position: absolute;
      z-index: 10;
      height: 83%;
      top: 33px;
      left: 8%;
      width: 83%; }
      #showTile #navigation-instructions #navi-content h3 {
        font-size: 0.4em; }
      #showTile #navigation-instructions #navi-content #navi-text {
        margin-top: -54px;
        width: 100%;
        height: 100%;
        display: table; }
        #showTile #navigation-instructions #navi-content #navi-text h1 {
          color: white;
          opacity: 0.8;
          display: table-cell;
          vertical-align: middle;
          font-size: 0.6em;
          letter-spacing: 4px;
          font-weight: 300;
          font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif; }
          #showTile #navigation-instructions #navi-content #navi-text h1 span {
            margin-top: 100px;
            font-family: 'Great Vibes', 'Open Sans', 'Helvetica', Helvetica, sans-serif;
            font-size: 3em;
            margin-top: 5px; }
    #showTile #navigation-instructions .kiss {
      position: fixed; }
      #showTile #navigation-instructions .kiss button {
        position: absolute;
        bottom: 0px;
        z-index: 9999;
        margin: 0 auto;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0.7;
        outline: 1px solid white;
        font-size: 0.6em; }
        #showTile #navigation-instructions .kiss button.share {
          font-weight: 300;
          text-transform: uppercase;
          font-size: 0.5em;
          margin-bottom: 20px; }
          #showTile #navigation-instructions .kiss button.share a {
            color: white; }
            #showTile #navigation-instructions .kiss button.share a:active, #showTile #navigation-instructions .kiss button.share a:hover {
              color: black;
              text-decoration: none; }
      #showTile #navigation-instructions .kiss.buttons {
        position: absolute;
        bottom: 0px;
        width: 100%; }
      #showTile #navigation-instructions .kiss.top {
        position: absolute;
        color: tomato;
        top: 0px;
        left: 45%; }
      #showTile #navigation-instructions .kiss.left {
        color: tomato;
        top: 45%;
        left: 10px; }
      #showTile #navigation-instructions .kiss.right {
        top: 45%;
        color: tomato;
        right: 10px; }
      #showTile #navigation-instructions .kiss.bottom {
        position: absolute;
        color: tomato;
        bottom: 10px;
        left: 45%; }
  #showTile .show {
    opacity: 1;
    z-index: 100; }
  #showTile .slow {
    transition: 0.35s; }
