@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Open Sans', 'Helvetica', Helvetica, sans-serif; }

a.undecorated-link:hover {
  text-decoration: none; }

.container {
  height: 100%;
  height: 100vh;
  padding: 0; }

.content {
  margin-top: 50px;
  height: 90%;
  height: calc(100% - 50px); }

.row {
  margin: 0;
  height: 100%; }

.col-xs-12 {
  padding: 0; }


.navbar-header {
  background-color: white; }

.navbar-inverse .navbar-brand {
  color: #1d7a9e;
  font-weight: 300;
  text-shadow: none; }
  .navbar-inverse .navbar-brand:active, .navbar-inverse .navbar-brand:hover {
    color: black; }
.navbar-inverse .navbar-toggle {
  border-radius: 0px;
  border-color: #58c9f3; }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: tomato; }
  .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:hover {
    background-color: white; }
    .navbar-inverse .navbar-toggle:active .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
      background-color: black; }

#ui-view {
  height: 100%; }

#showTile {
  border: 4px solid #58c9f3;
  text-align: center;
  height: 90%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute; }
  #showTile h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 1.6em; }
  #showTile p {
    margin-top: 10px; }
  #showTile img {
    width: 100%; }
  #showTile .tile-info {
    padding: 15px 12px; }
  #showTile .tile {
    width: 100%;
    height: 100%;
    float: left;
    bottom: 0px;
    margin: 0px;
    position: absolute; }
  #showTile #tileMain {
    left: 0;
    bottom: 0px;
    margin: 0px; }
  #showTile #tileUp {
    background-color: #58c9f3;
    bottom: 108%;
    left: 0px; }
  #showTile #tileDown {
    background-color: #58c9f3;
    bottom: -108%;
    left: 0px; }
  #showTile #tileRight {
    background-color: #58c9f3;
    left: 108%; }
  #showTile #tileLeft {
    background-color: #58c9f3;
    left: -108%; }
