<style>
  #mainTile {
    width: 450px;
    height: 450px;
    border: 1px solid black;
    text-align: center;
    padding:5px;
  }
</style>

<section data-ng-controller="TilesCtrl">
  <h1>Cracked Tiles</h1>

  <button ng-click="createTile()">Make Tile</button>

  <div id="mainTile">
    <h2>{{tile.name}}</h2>
    <img src="/modules/tiles/img/profiles/{{tile.imgUrl}}" alt="Splash">
    <h5>{{tile.content}}</h5>
  </div>

  <div id="testId" ng-hide="true">{{tile._id}}</div>

  <h5>Comments</h5>
  <div data-ng-repeat="content in tile.comments">
    <p>{{content}}</p>
  </div>
</section>

<section data-ng-controller="CommentsCtrl">
<h4>Add comment</h4>
  <form  data- ng-submit="create()">
    <fieldset> 
      <textarea data-ng-model="content" cols="60" rows="2" placeholder="Comment"></textarea>
      <br>
      <input type="submit" />
    </fieldset>
  </form>
</section>