<div id="loadScreen" ng-class="{'load-fade': !loadComplete}">
  <div class="load-text">gloss</div>
  <div class="load-spinner"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<div class="row" ng-init="loadTiles()" >
  <section id="showTile" class="col-xs-12">
  <!-- <button ng-click="createTile()">Herroo Prease</button> -->

    <div id="tileMain" ng-class="{'colorOffset': !colorOffset, 'prizeTile': prizeTile}" class="tileTemplate">
      <div class="tile-content swipeable">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tileMain.imgUrl}}" alt="...apologies, Hai must've broken something!">
        <div class="tile-info">
          <h1>{{tileMain.name}}</h1>
          <!-- <h5>${{tileMain.price | fixprice}}</h5> -->
          <div class="tile-desc"><p>{{tileMain.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tileMain.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
        <h4>${{tileMain.price | fixprice}}</h4>
      </div>
    </div>

    <div id="tileLeft" ng-class="{'colorOffset': colorOffset}" class="tileTemplate">
      <div class="tile-content">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tileLeft.imgUrl}}" alt="Gloss">
        <div class="tile-info">
          <h1>{{tileLeft.name}}</h1>
          <div class="tile-desc"><p>{{tileLeft.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tileLeft.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
        <h4>${{tileLeft.price | fixprice}}</h4>
      </div>
    </div>

    <div id="tileRight" ng-class="{'colorOffset': colorOffset}" class="tileTemplate">
      <div class="tile-content">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tileRight.imgUrl}}" alt="Gloss">
        <div class="tile-info">
          <h1>{{tileRight.name}}</h1>
          <div class="tile-desc"><p>{{tileRight.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tileRight.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
        <h4>${{tileRight.price | fixprice}}</h4>
      </div>
    </div>

    <div id="tileUp" ng-class="{'colorOffset': colorOffset}" class="tileTemplate">
      <div class="tile-content">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tileUp.imgUrl}}" alt="Gloss">
        <div class="tile-info">
          <h1>{{tileUp.name}}</h1>
          <div class="tile-desc"><p>{{tileUp.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tileUp.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
        <h4>${{tileUp.price | fixprice}}</h4>
      </div>
    </div>

    <div id="tileDown" ng-class="{'colorOffset': colorOffset}" class="tileTemplate">
      <div class="tile-content">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tileDown.imgUrl}}" alt="Gloss">
        <div class="tile-info">
          <h1>{{tileDown.name}}</h1>
          <div class="tile-desc"><p>{{tileDown.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tileDown.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
        <h4>${{tileDown.price | fixprice}}</h4>
      </div>
    </div>

    <div id="navigation-instructions" class="swipeable" ng-class="{'open': nav_open}" ng-click="closeNav()">
        <div id="nav-header">gloss
          <a class="list-button" href="#!/favorites"></a>
        </div>
        <i class="fa fa-angle-up kiss top"></i>
        <i class="fa fa-angle-left kiss left"></i>
          <div id ="navi-content">
            <div id="welcome-screen" ng-show="firstTime">
            <!-- <div> -->
              <img src="img/icons/swipe-up.svg"><h2>Swipe up and down for a new category</h2>
              <img src="img/icons/swipe-left.svg"><h2>Left and right for more</h2>
              <img src="img/icons/finger-tap.svg"><h2>And tap to access your radar and favs</h2>
              <h1><!-- welcome to<br> --><span>gloss</span></h1>
            <!-- </div> -->
            </div>
            <div id="radar" ng-show="!firstTime">
              <div id="rad"></div>
              <div class="centerDot"></div>
              <div ng-repeat="xcord in xcords">
                <div id="{{xcord+''+ycord}}" class="radar-points" ng-repeat="ycord in ycords" data-x="{{ycord*10}}" data-y="{{xcord*10}}"></div>
              </div>
            </div>
            <div class="kiss buttons" ng-show="!firstTime">
              <!-- <h3 id="share-link" ng-show="share">http://localhost:3000/#!/tile/shared/{{tileMain._id}}</h3> -->
              <button class="btn share" ng-click="addFavorite()" ng-class="{'gold': favoriteTile}">FAVORITE</button>
            </div>
          </div>
        <i class="fa fa-angle-right kiss right"></i>
        <i class="fa fa-angle-down kiss bottom"></i>
    </div>

    <div id="heart-like"><i class="fa fa-heart"></i></div>
    <div id="prize-win"><i class="fa fa-gift"></i></div>


<!-- TRYING TO GET NG REPEAT TO WORK -->
  <!--     <div ng-repeat="tile in loadedTiles" id="tile{{tile.name}}" ng-class="{'colorOffset': !colorOffset}" class="tileTemplate">
      <div class="tile-content swipeable">
        <h2>gloss</h2>
        <img src="http://storage.googleapis.com/gloss/tiles/{{tile.loaded.imgUrl}}" alt="Gloss">
        <div class="tile-info">
          <h1>{{tile.loaded.name}}</h1>
          <div class="tile-desc"><p>{{tile.loaded.content}}</p></div>
        </div>
      </div>
      <div class="tile-footer">
        <i class="fa fa-heart" ng-class="{'liked': votedOnTile}" ng-click="updateLikes()"></i><span>{{tile.loaded.likes}}</span>
        <h3 id="buy">BUY NOW</h3>
      </div>
    </div> -->

<!-- FERNS FAV STUFF -->
    <!-- <i class="fa fa-star" ng-class="{'liked': favoriteTile}" ng-click="addFavorite()"></i> -->

  </section>
</div>
