<div class="row">
  <section id="showTile" class="col-xs-12">
    <img src="/modules/tiles/img/profiles/{{tileMain.imgUrl}}" alt="Splash">

    <div class="tile-info text-center">
      <h2 class="tile-title">{{tileMain.name}}</h2>
      <p class="tile-desc">{{tileMain.content}}</p>
    </div>
    <div class="col-xs-12 btn-group">
      <button type="button" class="btn btn-primary col-xs-4">Share</button>
      <button type="button" class="btn btn-danger col-xs-4">Buy</button>
      <button type="button" class="btn btn-primary col-xs-4">Fav</button>
    </div>
  </section>
</div>